# Build artifacts
target/
*.war
*.ear
*.zip
*.tar.gz

# Maven Wrapper (Xóa nếu bạn không muốn giữ)
mvnw
mvnw.cmd
.mvn/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath

# OS & Logs
*.log
.DS_Store
Thumbs.db

# Help file (Nếu bạn không thích file mặc định của Spring)
HELP.md